body {
  background: #B4FAFF;
  /* font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Inconsolata', monospace; */
  font-family: 'Oxygen', sans-serif;
  overflow: hidden;
}

#front-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(42, 27, 49);
  z-index: 0;
}

#main-header{
  color: black;
  position: absolute;
  left: 0%;
  top: 0%;

}

#main-header p{
  position: relative;
  float: right;
  font-size: 22px;
  margin-top: 4%;
}

.border-box {
  position: relative;
  margin-left: 80px;
  margin-top: 80px;
  width: 500px;
  height: 80px;
  border-bottom: 4px solid black;
}

.border-box h1{
  float: left;
  font-size: 70px;
}

#forest-image{
  position: absolute;
  top: -5px;
  left: -10px;
  z-index: -6;
  filter: blur(7px);
}

#forest-image img{
  position: relative;
  margin: 0;
  height: 1200px;
  width: auto;
  opacity: .6;
}

@keyframes forestImageBlurMore {
  0%{
    filter: blur(7px);
   
  }
  100%{
    filter: blur(15px);
  
  }
}

@keyframes forestFromMyWorkToContact {
  0%{
    opacity: 0;
    filter: blur(7px);
  }
  50%{
    opacity: 0;
    filter: blur(7px);
  }
  100%{
    opacity: 1;
    filter: blur(15px);
  }
}

@keyframes forestFromAboutMeToContact {
  0%{
    opacity: 0;
    filter: blur(7px);
  }
  80%{
    opacity: 0;
    filter: blur(7px);
  }
  100%{
    opacity: 1;
    filter: blur(15px);
  }
}

@keyframes forestContactToMyWork {
  0%{
    opacity: 1;
    filter: blur(15px);
  }
  100%{
    opacity: 0;
    display: none;
  }
}



@keyframes toSkyBlue {
  100%{
    background-color: rgb(97, 243, 253);
  }
}

@keyframes toLighterBlue {
  0%{
    background-color: rgb(97, 243, 253);
  }
  100%{
    background-color: #B4FAFF;
  }
}

.wrapper {
  min-width: 1440px;
  height: 800px;

  overflow: hidden;
}

#nav {
  
  position: relative;
  float: right;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 20px;
  margin-right: 16%;
  margin-top: 7%;
  font-size: 50px;
  color: white;
  border: 8px solid white;
  animation: navEnterScreen 1s ease-out forwards running;
  z-index: 10;
}

@keyframes navEnterScreen{
  0%{
    filter: blur(8px);
    transform: scale(1.2);
   
  }
  100%{
    filter: blur(0px);
    transform: scale(1);
  
  }
}

#nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: space-between;
}



@keyframes shrinkHeight {
  100%{
    height: 100px;
  }
}




/* @keyframes leftBorder {
  100%{
    border-left: 2px solid black;
  }
} */


#ground {
  position: absolute;
  
  background-image: linear-gradient(rgb(71, 71, 71), rgb(34, 34, 34));
  border-top: 10px solid rgb(78, 207, 89);
  left: 0px;
  bottom: -820px;
  width: 4000px;
  height: 800px;
  z-index: -3;
}

#ground img {
  position: absolute;
  width: 1440px;
  height: auto;
  top: -200px;
  left: 0px;
}

@keyframes groundUp {
  100%{
    transform: translateY(-680px)
  }
}

@keyframes groundUp2 {
  0%{
    transform: translateY(4150px)
  }
  100%{
    transform: translateY(-680px)
  }
}

@keyframes groundDown {
  0%{
    transform: translateY(-680px)
  }
  100%{
    transform: translateY(680px)
  }
}

@keyframes groundDown2 {
  0%{
    transform: translateY(-680px)
  }
  100%{
    transform: translateY(0px)
  }
}


@keyframes navShrink {

  100%{
    transform: scale(.5) translate(450px, -200px);
    color: black;
    
  }
}

@keyframes navShrink2 {
  55% {
    border-left: 0px;
  }
  100%{
    transform: scale(.6) translate(-200px, -110px);
    color: black;
  }
}

@keyframes navShrink3 {
  0%{
    color: black;
    transform: scale(.5) translate(450px, -200px)
  }
  100%{
    color: black;
    transform: scale(.6) translate(-200px, -110px);
  }
}



.nav-button {
  list-style-type: none;
  padding: 50px;
 
}

@keyframes paddingChange {
  100%{
    padding: 10px;
  }
}

#about-me{
  position: absolute;
  display: none;
  top: 0%;
  left: 0%;
  opacity: 0;
}

#about-me p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

#about-me-profile-pic{
  position: absolute;
  top: 150px;
  left: 100px;
}

#about-me-profile-pic img {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

#about-me-header{
  position: absolute;
  width: 400px;
  left: 50px;
  top: 50px;
  font-size: 3em;
}

#about-me-window {
  position: absolute;
  top: 100px;
  left: 430px;
  height: 400px;
  width: 650px;
  background: rgb(255, 255, 255, .6);
  border-radius: 2%;

}

#about-me-inner-window {
  margin: 10px auto;
  position: relative;
  height: 350px;
  width: 600px;
  background: rgb(255, 255, 255);
  overflow: scroll;
  opacity: .7;
}

#about-me-inner-window {
  padding: 10px;
}


#skills-outer-window{
  position: absolute;
  background: rgb(255, 255, 255, .6);
  top: 520px;
  left: 430px;
  height: 240px;
  width: 650px;
  border-radius: 2%;
}

#skills {
  margin: 10px auto;
  position: relative;
  background: rgb(255, 255, 255);
  height: 220px;
  width: 620px;
}

#skills-header {
 padding-top: 15px;
 padding-left: 10px;
 font-size: 1.5em;

}

#skills-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 130px;
  width: 600px;
}


#find-me img {
  height: 80px;
  width: 80px;
}

.findme-card {
position: absolute;
height: 150px;
width: 150px;
background: white;
border-radius: 10%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

#findme-card-1:hover #codepen2{
  display: block;
}

#findme-card-1:hover p{
  display: block;
  animation: growUp .2s linear forwards;
}

#findme-card-1:hover #codepen{
  display: none;
}

#findme-card-1:hover {
  background-color: white;
}

#findme-card-2:hover {
  background-color: white;
}

#findme-card-2:hover p{
  display: block;
  animation: growUp .2s linear forwards;
}

@keyframes growUp {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

#codepen2{
  display: none;
}

#findme-card-1 p{
  display: none;
  position: absolute;
  right: -180px;
}

#findme-card-2 p{
  display: none;
  position: absolute;
  right: -170px;
}

#findme-card-1{
  opacity: 0;
  position: absolute;
  right: 15.5%;
  bottom: 19%;
  height: 100px;
  width: 100px;
  background-color: black;
}

#findme-card-2{
  opacity: 0;
  position: absolute;
  right: 15.5%;
  bottom: 5%;
  height: 100px;
  width: 100px;
  background-color: #6582f7;
}

@keyframes PlopIn{
0%{
  transform: scale(1.3)
}
100%{
  transform: scale(1);
  opacity: 1;
}
}

.box {
  border: 1px solid black;
  padding: 10px;
}



#portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  z-index: 0;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
   display: block;
  }
  100%{
    opacity: 1;
    
  }
}

#butterfly {
  position: absolute;
  animation: flying 8s linear forwards running;
 
  /* animation: flying 8s linear paused; */
}

@keyframes flying {
  0%{
    transform: translate(-300px, 400px);
    filter: blur(5px);
  }
  12.5%{
    transform: translate(-120px, 300px);
  }
  25%{
    transform: translate(-120px, 300px);
  }
  37.5%{
    transform: translate(130px, 100px);
    filter: blur(5px);
  }
  50%{
    transform: translate(230px, 50px) scale(1.1);
    filter: blur(0px);
  }
  62.5%{
    transform: translate(230px, 50px) scale(1.1);
    filter: blur(0px);
  }
  75%{
    transform: translate(480px, -100px) scale(.7);
    filter: blur(7px);
  }
  87.5%{
    transform: translate(540px, -300px);
    opacity: 1;
  }
  100%{
    transform: translate(540px, -300px);
  }
  
}
#butterfly img {
  position: absolute;
  height: 400px;
  width: auto;

}

#butterfly1 img{
  opacity: 1;
  animation: wingflap .5s linear infinite running;
}

#butterfly2 img{
  opacity: 0;
  animation: wingflap2 .5s linear infinite running;
}

@keyframes wingflap {
  25%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes wingflap2 {
  25%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
/* #grass, #grass2, #grass3 {
  display: none;
} */

#grass {
  position: absolute;
  /* opacity: 0; */
  transform: translateY(200px);
  animation: grassWind 20s forwards infinite running;
}

#grass2 {
  /* opacity: 0; */
  position: absolute;
  transform: translate(0px, 200px);
  animation: grassWind2 18s forwards infinite running;
}

#grass3 {
  /* opacity: 0; */
  position: absolute;
  transform: translate(0px, 300px) scale(.7);
  filter: blur(5px);
 
}


@keyframes grassWind {
  25%{
    transform: skewX(3deg) translate(0px, 200px);
    transform-origin: bottom;
  }
  50%{
    transform: skewX(0deg) translate(0px, 200px);
    transform-origin: bottom;
  }
  75%{
    transform: skewX(2deg) translate(0px, 200px);
    transform-origin: bottom;
  }
  100%{
    transform: skewX(0deg) translate(0px, 200px);
    transform-origin: bottom;
  }

}

@keyframes grassWind2 {
  25%{
    transform: skewX(3deg) translate(0px, 200px);
    transform-origin: bottom;
  }
  50%{
    transform: skewX(0deg) translate(0px, 200px);
    transform-origin: bottom;
  }
  75%{
    transform: skewX(2deg) translate(0px, 200px);
    transform-origin: bottom;
  }
  100%{
    transform: skewX(0deg) translate(0px, 200px);
    transform-origin: bottom;
  }

}

@keyframes grassMoveOut {
  100%{
    transform: translateY(800px);
  }
}

@keyframes grassMoveOut2 {
  100%{
    transform: translate(-590px, 800px);
  }
}

@keyframes grassShrinkMoveOut {
  100%{
    transform: translateY(800px) scale(.5);
  }
}

@keyframes grassShrinkMoveOut2 {
  100%{
    transform: translate(-590px, 800px) scale(.5);
  }
}

#tree-container{
  position: absolute;
}

#tree {
  position: absolute;
  transform: translate(-670px, -1850px) scale(2);
 
  /* transform: translate(-2300px, -1700px) scale(.340); */
  z-index: -2;
  /* transform: translate(-2200px, -2400px) scale(.5); */
  filter: blur(8px);
}

#tree-bark {
  position: absolute;
  top: -10%;
  z-index: -1;
  width: 700px;
  height: 110%;
  opacity: .4;
  filter: blur(2px);
  transform: translateX(640px);
  
}

@keyframes barkFade{
  100%{
    opacity: 0;
  }
}


@keyframes treeMainToMyWork {
  0%{
    /* transform: translate(-1300px, -1850px) scale(2); */
    transform: translate(-670px, -1850px) scale(2);
  }
  100%{
    /* transform: translate(-2300px, -1700px) scale(.305); */
    /* transform: translate(-46%, -34%) scale(.305); */
    transform: translate(-1650px, -1700px) scale(.305);

    filter: blur(0px);
  }
}
@keyframes treeMainToAboutMe {
  0%{
    transform: translate(-1300px, -1850px) scale(2);
  }
  /* 25%{
    transform: translate(-2300px, -1700px) scale(.305);
  } */
  100%{
    transform: translate(-2300px, 1700px) scale(.305);
  }
}

@keyframes treeMainToContact {
  0%{
    transform: translate(-1300px, -1850px) scale(2);
  }

  100%{
    transform: translate(-2200px, -2400px) scale(.5);
    filter: blur(0px);
  }
}

@keyframes treeMyWorkToAboutMe {
  0%{
    transform: translate(-2300px, -1700px) scale(.305);
    filter: blur(0px);
  }
  100%{
    transform: translate(-2300px, -1000px) scale(.305);
    filter: blur(0px);
  }
}

@keyframes treeMyWorkToContact {
  0%{
    transform: translate(-2300px, -1700px) scale(.305);
    filter: blur(0px);
  }
  100%{
    transform: translate(-2200px, -2400px) scale(.5);
    filter: blur(0px);
  }
}

@keyframes treeContactToAboutMe {
  0%{
    transform: translate(-2200px, -2400px) scale(.5);
    filter: blur(0px);
  }
  100%{
    transform: translate(-2300px, -1000px) scale(.305);
    filter: blur(0px);
  }
}

@keyframes treeContactToMyWork {
  0%{
    transform: translate(-2200px, -2400px) scale(.5);
    filter: blur(0px);
  }
  100%{
    transform: translate(-2300px, -1700px) scale(.305);
    filter: blur(0px);
  }
}

@keyframes treeAboutMeToMyWork {
  0%{
    transform: translate(-2300px, 1000px) scale(.305);
    filter: blur(0px);
  }
  100% {
    transform: translate(-2300px, -1700px) scale(.305);
    filter: blur(0px);
  }
}

@keyframes treeAboutMeToContacts {
  0%{
    transform: translate(-2300px, 3000px) scale(.305);
    filter: blur(0px);
  }
  100%{
    transform: translate(-2200px, -2400px) scale(.5);
    filter: blur(0px);
  }
}

#portfolio-header{
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 3em;
  opacity: 0;
}

.project-card {
  position: relative;
  width: 220px;
  height: 130px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-card:hover{
  transition: rotate;
  animation: wobble 1s linear;
  animation-fill-mode: forwards;
}

.project-card:hover .project-text{
  animation: textGrow .5s forwards;
}

.project-card img {
  transition-duration: .4s;
}

.project-card:hover img {
  -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(3px);
}

.project-card .project-text {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 40%;
  right: -4%;
  color: rgb(250, 250, 250);
  padding: 10px;
  visibility: hidden;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* .project-text:hover {
  animation: textGrow .5s forwards;
} */

@keyframes textGrow {
  100%{
    transform: scale(1.1);
  }
}
#hidden-title {
  background-color: #E2DAFF;
  color: black;
  padding: 10px;
  text-align: center;
  bottom: 0px;
  right: 25%;
  margin-bottom: 0;
  font-family: 'Georgia', Times, Times New Roman, serif;
  width: 85px !important;
  position: absolute;
  margin-top: 20%;
  font-size: .85em;
  border-radius: 3px;
}



#hidden-title:hover {
  background-color: #7C48B2;
  color: rgb(255, 242, 65);
  animation: textGrow .2s linear forwards;
}

.project-card:hover .project-text{
  visibility: visible;
}

#hidden-title{
  visibility: hidden;
  position: absolute;
  width: 100%;
}

.project-card:hover #hidden-title{
  visibility: visible;
}


@keyframes wobble{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(1.5deg);
  }
  50%{
    transform: rotate(-1deg);
  }
  75%{
    transform: rotate(.5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.first-card{
  top: 130px;
  left: 330px;
  animation: windWobble1 15s ease-in-out 1s infinite alternate;
}

.second-card{
  top: -18px;
  right: -780px;
  animation: windWobble1 15s ease-in-out 2s infinite alternate;
}

.third-card{
  top: 65px;
  left: 300px;
  animation: windWobble1 15s ease-in-out 1.5s infinite alternate;
}

.fourth-card {
  top: -85px;
  left: 850px;
  animation: windWobble1 15s ease-in-out 2s infinite alternate;
}

.fifth-card {
  bottom: 10px;
  left: 350px;
  animation: windWobble1 15s ease-in-out 2s infinite alternate;
}

.sixth-card {
  bottom: 150px;
  left: 810px;
  animation: windWobble1 15s ease-in-out 1.2s infinite alternate;
}

#portfolio img {
  width: 200px;
  height: 110px;
}

@keyframes windWobble1{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(3deg);
  }
  50%{
    transform: rotate(-2deg);
  }
  75%{
    transform: rotate(2deg);
  }
  100%{
    transform: rotate(0deg);
  }
}



@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

@keyframes fadeOut2{
  0%{
    opacity: 0;
  }
}

@keyframes removeBorder {
  100% {
    border: 0px;
  }
}

#contact {
  display: none;
  opacity: 0;
}

#contact-header {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 3em;
}



.contact-card {
  position: absolute;
  height: 150px;
  width: 150px;
  background: white;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-card:hover{
  animation: grow .2s ease-out forwards;
}

@keyframes grow {
  100%{
    transform: scale(1.1);
  }
}



#contact-card-1 {
  left: 300px;
  bottom: 300px;
}

#contact-card-2 {
  left: 620px;
  bottom: 150px;
}

#contact-card-3 {
  right: 375px;
  bottom: 250px;
}

#contact-card-3 img{
  height: 200px;
  width: auto;
}



#clouds img{
  height: 300px;
  width: auto;
  z-index: -5;
}

#cloud1{
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 20px;
}
#cloud2{
  opacity: 0;
  position: absolute;
  top: 200px;
  right: 20px;
}
#cloud3{
  opacity: 0;
  position: absolute;
  top: 300px;
  left: 200px;
}
#cloud4{
  opacity: 0;
  position: absolute;
  top: -40px;
  left: 400px;
}
#cloud5{
  opacity: 0;
  position: absolute;
  bottom: 100px;
  left: 0px;
}

@keyframes cloudsMoveUp {
100%{
  transform: translateY(-2000px);
}
}



#clouds-layer1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 220%;
  height: auto;
  
  opacity: 0;
}
#clouds-layer2 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  width: 150%;
  height: auto;
  
  opacity: 0;
}
#clouds-layer3 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -3;
  width: 125%;
  height: auto;
  
  opacity: 0;
}

@keyframes allcloudsmovedown {
  0% {
    transform: translate(-140px, -1500px);
  }
  40% {
    opacity: 1;
  }
  94%{
    opacity: 0;
  }
  100%{
    transform: translate(-140px, 1000px);
    opacity: 0;
  }
}

@keyframes allcloudsmoveup {
  0% {
    transform: translate(-140px, 1000px);
  }
  20% {
    opacity: 1;
  }
  94%{
    opacity: 1;
  }
  100%{
    transform: translate(0px, -1500px);
    opacity: 0;
  }
}



#nav li:hover {
  color: yellow !important;
  cursor: pointer;
}

@keyframes allcloudsFadeOutandIn {
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}




@keyframes floatRight1{
  0% {
    transform: translateX(0px);
  }
  2%{
    opacity: 1;
  }

  
  100% {
    transform: translateX(2000px);
  }
}


@media only screen and (max-width: 1250px) {
  body{
    width: 960px;
  }
  .wrapper {
    width: 960px;
  }

  #tree {
    transform: translate(-900px, -1850px) scale(1.7);
    
  }

  #nav {
    margin-right: 25%;
    font-size: 40px;
  }

  #tree-bark {
    width: 600px;
    transform: translateX(575px);
  }

  .border-box {
    height: 70px;
  }

  .border-box h1{
    font-size: 55px;
  }

  #main-header p{
    font-size: 19px;
  }

}

@media only screen and (max-width: 1130px) {

  #tree {
    transform: translate(-1150px, -1850px) scale(1.5);
  }

  #nav {
    margin-right: 540px;
    font-size: 40px;
    height: 550px;

  }

#grass, #grass2, #grass3 {
  width: 500px;
  bottom: 200px;
}

#butterfly img {
  height: 300px;
  width: auto;
}

  #tree-bark {
    width: 520px;
    transform: translateX(450px);
  }

  .border-box {
    height: 50px;
    width: 400px;
    margin-top: 50px;
    margin-left: 50px;
  }

  .border-box h1{
    font-size: 40px;
  }

  #main-header p{
    font-size: 18px;
  }
}

@media only screen and (max-width: 920px) {

  #tree {
    transform: translate(-1900px, -1750px) scale(1);
  }

  #nav {
    margin-right: 1130px;
    margin-top: 14%;
    float: right;
    width: 220px;
    font-size: 40px;
    height: 450px;
    font-size: 25px;
    justify-content: space-around;
    justify-items: space-around;
    padding-bottom: 50px;
  }



#grass, #grass2, #grass3 {
  display: none;
}

#butterfly img {
  height: 300px;
  width: auto;
 
}
#butterfly {
  z-index: -1;
}

  #tree-bark {
    display: none;
  }

  .border-box {
    height: 50px;
    width: 300px;
    margin-top: 50px;
    margin-left: 50px;
  }

  .border-box h1{
    font-size: 40px;
  float: none;
    text-align: center;
  }

  #main-header {

    left: -10px;
  }

  #main-header p{
    float: none;
    text-align: center;
    padding-left: 50px;
  }
 
}