body {
  background-color: #B4FAFF;
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 800px;
  overflow: hidden;
}

#nav {
  position: relative;
  float: right;
  margin-right: 200px;
  font-size: 50px;
  color: white;
  animation: fadeOut .5s;
  animation: navShrink 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;  
  animation-timing-function: ease-in-out;
}

@keyframes navShrink {
  55% {
    border-left: 0px;
  }
  100%{
    transform: scale(.5) translate(450px, -200px);
    color: black;
    border-left: 5px solid black;
  }
}

.nav-button {
  list-style-type: none;
  padding: 50px;
  animation: paddingChange 2s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

@keyframes paddingChange {
  100%{
    padding: 10px;
  }
}

#upper-nav{
  opacity: 0;
  position: absolute;
  top: 50px;
  right: 80px;
  border-left: 3px solid rgb(100, 100, 100);
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-direction: normal; 
  animation-fill-mode: forwards;
  animation-play-state: paused;  
}
#upper-nav li {
  position: relative;
  list-style-type: none;
  padding: 5px;
}

#portfolio {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-direction: normal; 
  animation-fill-mode: forwards;
  animation-play-state: paused;  
  display: none;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#grass {
  transform: translateY(200px);
  animation: grassWind 20s forwards infinite running;
}

@keyframes grassWind {
  25%{
    transform: rotate(-2deg) translateY(200px);
    transform-origin: bottom;
  }
  50%{
    transform: rotate(0deg) translateY(200px);
    transform-origin: bottom;
  }
  75%{
    transform: rotate(-1.5deg) translateY(200px);
    transform-origin: bottom;
  }
  100%{
    transform: rotate(0deg) translateY(200px);
    transform-origin: bottom;
  }

}

#tree {
  position: absolute;
  transform: translate(-1300px, -1850px) scale(2);
  /* transform: translate(-2300px, -1700px) scale(.340); */
  z-index: -1;
  animation-name: zoomOut;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: normal; 
  animation-fill-mode: forwards;
  animation-play-state: paused;  
}

#portfolio-header{
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 30px;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-direction: normal; 
  animation-fill-mode: forwards;
  animation-play-state: paused;  
}



.project-card {
  position: absolute;
  width: 220px;
  height: 130px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}



.project-card:hover{
  transition: rotate;
  animation: wobble 1s linear;
  animation-fill-mode: forwards;
}

@keyframes wobble{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(-1deg);
  }
  75%{
    transform: rotate(1deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.first-card{
  top: 170px;
  left: 340px;
  animation: windWobble1 15s ease-in-out 1s infinite alternate;
}

.second-card{
  top: 100px;
  right: 390px;
  animation: windWobble1 15s ease-in-out 2s infinite alternate;
}

.third-card{
  top: 350px;
  left: 270px;
  animation: windWobble1 15s ease-in-out 1.5s infinite alternate;
}

.fourth-card {
  top: 280px;
  right: 290px;
  animation: windWobble1 15s ease-in-out 2s infinite alternate;
}

.fifth-card {
  top: 530px;
  left: 340px;
  animation: windWobble1 15s ease-in-out 2s infinite alternate;
}

.sixth-card {
  top: 470px;
  right: 290px;
  animation: windWobble1 15s ease-in-out 1.2s infinite alternate;
}

#portfolio img {
  width: 200px;
  height: 110px;
}

@keyframes windWobble1{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(3deg);
  }
  50%{
    transform: rotate(-2deg);
  }
  75%{
    transform: rotate(2deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes zoomOut {
  0%{
    transform: translate(-1300px, -1850px) scale(2);
  }
  100%{
    transform: translate(-2300px, -1700px) scale(.305);
  }
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.cloud img{
  height: 300px;
  width: auto;
  z-index: -10;
}

#cloud1{
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 20px;
  animation-name: floatRight1;
  animation-duration: 120s;
  animation-delay: 1s;
  animation-play-state: paused;
}
#cloud2{
  opacity: 0;
  position: absolute;
  top: 200px;
  right: 20px;
  animation-name: floatRight1;
  animation-duration: 220s;
  animation-delay: 1s;
  animation-play-state: paused;
}
#cloud3{
  opacity: 0;
  position: absolute;
  top: 300px;
  left: 200px;
  animation-name: floatRight1;
  animation-duration: 150s;
  animation-delay: 1s;
  animation-play-state: paused;
}
#cloud4{
  opacity: 0;
  position: absolute;
  top: -40px;
  left: 400px;
  animation-name: floatRight1;
  animation-duration: 220s;
  animation-delay: 1s;
  animation-play-state: paused;
}
#cloud5{
  opacity: 0;
  position: absolute;
  bottom: 100px;
  left: 0px;
  animation-name: floatRight1;
  animation-duration: 200s;
  animation-delay: 1s;
  animation-play-state: paused;
}


#nav-mywork:hover {
  color: yellow;
  cursor: pointer;
}


@keyframes floatRight1{
  0% {
    transform: translateX(0px);
  }
  2%{
    opacity: 1;
  }

  
  100% {
    transform: translateX(2000px);
  }
}